<div id="banner" class="ideas_banner">
	<h1>Discover new creative ideas</h1>
</div>

<div id="ideas" class="cf">
	<div class="wrapper">
		<ul>
			<% @ideabooks.each do |ideabook| %>
				<%= link_to ideabook do %>
				<li>
					<%= image_tag ideabook.thumbnail.url(:medium) %>
					<div class="ideas_overview">
						<h2><%= ideabook.title %></h2>
					<p class="ideas_count">1 Episode</p>	
					</div>
				</li>
				<% end %>
			<% end %>
		</ul>
	</div>
</div>