<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<a href="#" id="logo">Inventors</a>
			<nav>
				<ul>
					<% unless ideabook_signed_in? %>
						<li>Explore</li>
						<li><%= link_to "Sign in", new_ideabook_session_path %></li>
						<li><%= link_to "Share an idea", new_ideabook_registration_path %></li>
					<% else %>
						<li><a href="#">Dashboard</a></li>
						<li><a href="#">Explore</a></li>
						<li><%= link_to "Sign Out", destroy_ideabook_session_path, method: :delete %></li>
					<% end %>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper_skinny">
		<h1>Discover new creative<br> ideas, or share your own</h1>
		<%= link_to "Share an idea", new_ideabook_registration_path, class: "button button_highlight" %>
		<a href="#" class="button button_white">Explore</a>
	</div>
</div>